/* Global CSS */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
}

.global-label {
    display: flex;
    justify-content: space-between;
}

/* 1.Loader */
.loader {
    --box: 24px;
    --offset: 28px;
    --duration: 3s;
    --delay: 0.4s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.2s;
    --in-timing-function: ease-out;
    width: calc(3 * var(--offset) + var(--box));
    height: calc(2 * var(--offset) + var(--box));
    position: relative;
}

.loader div {
    display: inline-block;
    background: rgb(78, 40, 214);
    border: none;
    border-radius: 2px;
    width: var(--box);
    height: var(--box);
    position: absolute;
}

.loader #box1 {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
    animation: box1 var(--duration) var(--delay) var(--timing-function) infinite,
        boxfadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loader #box2 {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
    animation: box2 var(--duration) var(--delay) var(--timing-function) infinite,
        boxfadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loader #box3 {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
    animation: box3 var(--duration) var(--delay) var(--timing-function) infinite,
        boxfadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loader #box4 {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
    animation: box4 var(--duration) var(--delay) var(--timing-function) infinite,
        boxfadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loader #box5 {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
    animation: box5 var(--duration) var(--delay) var(--timing-function) infinite,
        boxfadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes box1 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }

    8.333% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }

    100% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes box2 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }

    8.333% {
        left: calc(0 * var(--offset));
        top: calc(2 * var(--offset));
    }

    16.67% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }

    25.00% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }

    83.33% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }

    91.67% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }

    100% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
}

@keyframes box3 {

    0%,
    100% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }

    16.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }

    25.00% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }

    33.33% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }

    41.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }

    66.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }

    75.00% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }

    83.33% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }

    91.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes box4 {
    0% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }

    33.33% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }

    41.67% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }

    50.00% {
        left: calc(3 * var(--offset));
        top: calc(2 * var(--offset));
    }

    58.33% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }

    100% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes box5 {
    0% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }

    50.00% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }

    58.33% {
        left: calc(3 * var(--offset));
        top: calc(0 * var(--offset));
    }

    66.67% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }

    75.00% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }

    100% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
}

@keyframes boxfadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}